body {
    font-family: tahoma;
}
#container {
    width: 850px;
    height: 400px;
    background-color: #000000;
    border-radius: 5px;
}
h1 {
    color: #ffff00;
    text-align: center;
    padding-top: 20px;
}
iframe {
    width:400px;
    height: 225px;
    float: left;
    margin-left: 20px;
    border-style: solid;
    border-color: #ffff00;
}
#list {
    float: left;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 10px;
}
li a {
    font-size: 1.7em;
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
}
a:hover {
    color: #ffff00;
}