* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 60%;
    background-image: url("images/colorful_dots_on_black.jpg");
    font-family: Tahoma;
}
body > header {
    color: #FFFF00;
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #FF0000 33.33%, #008000 33.35%, #008000 66.68%, #1500FC 66.70%);
    padding-bottom: 10px;
}
aside, section{
    display: block;
}
aside {
    position: absolute;
    float: left;
    width: 10%;
    background: #FFF;
    opacity: 0.9;
    display: inline-block;
    border-radius: 15px;
    padding: 15px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 10px;

}
aside nav header{
    text-decoration: underline;
    font-size: 15pt;
}
section {
    margin-top: 20px;
    float: right;
    width:80%;
}
article {
    background: #FFF;
    opacity: 0.9;
    border-radius: 15px;
    padding: 10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 10px;
}
nav ul li {
    list-style-type: none;
    padding:5px;
    padding-left: 25px;
    background-image: url("images/before.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 5px 8px;
    border-radius: 5px;
    display: block;
}li a {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}
a:visited {
    color: #808080;
}
nav ul li:nth-child(1):hover {
      background-color: #FF0000;
  }
nav ul li:nth-child(2):hover {
    background-color: #FFA500;
}
nav ul li:nth-child(3):hover {
    background-color: #FFFF00;
}
nav ul li:nth-child(4):hover {
    background-color: #008000;
}
nav ul li:nth-child(5):hover {
    background-color: #0000FF;
}
nav ul li:nth-child(6):hover {
    background-color: #800080;
}
#webColors, #webSafeColors, #RGB, #RGBA, #\#HSLHSV, #\#lorem {
    padding: 10px;
    border-radius: 5px;
    font-size: 15pt;
}
header#webColors {
    color: #FFF;
    background-color: #FF0000;
}
header#webSafeColors{
    color: #000;
    background-color: #FFA500;
}
header#RGB {
    color: #000;
    background-color: #FFFF00;
}
header#RGBA {
    color: #FFF;
    background-color: #008000;
}
header#\#HSLHSV {
    color: #FFF;
    background-color: #0000FF;
}
header#\#lorem {
    color: #FFF;
    background-color: #800080;
}
section article div:first-line {
    font-style: italic;
}
section article div:first-letter {
    font-size: 30pt;
}
span:lang(la) {
    color: #00008B;
}
span:lang(la):before {
    content: "\"";
    color: #00008B;
}
span:lang(la):after {
    content: "\"";
    color: #00008B;
}
section article div{
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a {
    font-style: italic;
    color: #808080
}