* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Tahoma;
}

#container {
    width: 850px;
    height: 400px;
    background-color: #F4F4F4;
}
div#header > h1 {
    color: #224264;
    padding: 15px;
    font-size: 22pt;
}
div#header p{
    color: #959595;
    margin-top: 10px;
    margin-left: 25px;
}
#forms{
    width:800px;
    height: 540px;
    margin-top:50px;
}
#forms {
    margin: 15px;
}
form#left, form#right {
    display:inline-block;
}
#left {
    background-color: #F4F4F4;
    float:left;
    width: 400px;
    height: 270px;
}
#left h1 {
    color: #5A5A5A;
}
#left input[type="submit"] {
    background-color: #F5F5F5;
    color: #1A3E5F;
    font-size: 12pt;
    border: 1px solid #1A3E5F;
}
#right {
    background-color: #25456B;
    float: right;
    width: 400px;
    height: 270px;
}
#right input[type="submit"] {
    background-color: #25456B;
    color: white;
    border: 1px solid #FFAA00;
}
#left input[type="submit"]:hover {
    background-color: #1A3E5F;
    color: #F4F4F4;
}
#right input[type="submit"]:hover {
    background-color: #FFAA00;
}
h1 {
   font-size: 14pt;
    margin: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    padding: 7px;
    margin: 10px;
    width: 350px;
    height: 20px;
}
input[type="checkbox"] {
    margin-left: 10px
}
input[type="submit"] {
    width: 170px;
    height: 35px;
    padding: 7px;
    float:right;
    margin-right: 22px;
    cursor: pointer;
}
span {
    float: right;
    position: relative;
}
span a {
    position: absolute;
    margin-top: 40px;
    float: right;
    margin-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 11pt;
}
#left a {
    color:#00244E;
    text-decoration: none;
}
#right h1 a {
    color: #FFFFFF;
    text-decoration: none;
}
#right h1 {
    color: #FFF;
}
label {
    color: white;
}
