* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Tahoma;
}
#container {
    display: block;
    float: left;
    padding: 30px;
    background-image: url("imgs/formBackground.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
form > div {
    margin-top: 10px;
}
h1 {
    color: white;
    font-size: 10pt;
    margin-left: 5px;
}
li {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    border: 1px solid #D8E4E8;
    font-size: 10pt;
    list-style: none;
    margin: 5px;
    padding: 10px;
}
li input {
    border-radius: 3px;
    padding: 5px;
    float: right;
    vertical-align: middle;
    margin-top: -3px;
    border: none;
}
label {
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px ;
}
textarea {
    width: 170px;
    height: 100px;
    margin-left: 88px;
    vertical-align: middle;
    border-radius: 3px;
    padding: 3px;
    resize: vertical;
    border: none;
}
.address{
    display: inline-block;
    margin-top: -85px;
}
input[type="submit"] {
    margin-top: 10px;
    margin-left: 120px;
    border-radius: 30px;
    background-color: #021231;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}
input[type="submit"]:hover {
    background-color: #012150;
}
input[type="radio"]{
    float: none;
}
.cards {
    margin-top: 15px;
}
.cards img{
    width: 30px;
    height: 20px;
    vertical-align: middle;
    margin-top: -3px;
}
input:focus, textarea:focus {
    background-color: #D8E4E8;
}
