* {
    margin: 0;
    padding: 0;
}
body > table {
    margin: 20px;
}
table, td {
    border: 1px solid black;
}
table td > table {
    margin:20px;
}
h1 {
    font-size: 60pt;
    padding: 5px;
}
img {
    width: 200px;
    height: 200px;
    padding: 25px 10px;
}