* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
    font-weight: bold;

}
header {
    background-color: #234465;
}
table {
    margin: auto;
    width: 80%;
    background-color: #234465;
}
ul {
    position: fixed;
    list-style-type: none;
    background-color: #234665;
    margin-left: 20px;
    margin-top: 2px;
    border-radius: 5px;
    display: none;
}
li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 130px;
    border-bottom: 1px solid white;
    text-align: left;
}
.bell{
    width: 23px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -4px;
}
.search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 28px;
    vertical-align: middle;
    margin-left: -16px;
    margin-top: -2px;
    border-left: 1px solid darkgrey;
}
.search:hover {
    background-color: #234665;
    opacity: 0.4;
}
table tr:last-child td {
    vertical-align: middle;
    text-align: center;
}
table tr:first-child td:nth-child(2) {
    vertical-align: middle;
    text-align: right;
}
table tr:first-child td:last-child {
    vertical-align: middle;
    text-align: center;
}
span.zero {
    vertical-align: middle;
    color: white;
    cursor: pointer;
    padding: 2px;
}
a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    padding: 10px;
}
li > a {
    padding-right: 30px;
}
li:hover {
    background-color: orange;
    border-radius: 2px;
}
input[type="text"] {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 220px;
    height: 25px;
    vertical-align: middle;
    padding: 2px;
}
img.arrow {
    vertical-align: middle;
    width: 15px;
    margin-top: -4px;
}
td#about:hover .aboutMenu {
    display: block;
}
td#training:hover .trainingMenu {
    display: block;
}
td#user:hover .accountMenu {
    display: block;
}
table tr:first-child td:nth-child(3):hover {
    text-decoration: underline;
}
table tr:last-child td:hover > a, table tr:last-child td:hover a .arrow{
    background-color: orange;
    border-radius: 5px;
}

