* {
    margin:0;
    padding: 0;
}
body {
    font-family: Tahoma;
    font-style: italic;
}
#container {
    width: 500px;
    height: 400px;
    padding: 10px;
    background-color: #FFC6D0;
}
#container h1 {
    text-align: center;
    padding: 20px;
    font-family: Tahoma;
    font-size: 32pt;
    font-style: italic;
}
form {
    display: block;
}
#left {
    float:left;
}
#right {
    float: right;
}
input {
    height: 25px;
}
label {
    display: block;
}
.inline {
    display: inline-block;
}
.labels {
    display: block;
}
select {
    width: 220px;
    height: 30px;
    font-weight: bold;
}
input[type="number"] {
    width: 60px;
    margin-left: -5px;
}
input[type="submit"]{
    position: absolute;
    margin-top: 270px;
    margin-left: 50px;
    width: 220px;
    height: 30px;
}
.timeInterval input {
    width: 100px;
}
div#left > input, div#left > select, div#left > label, div#left > span {
    margin: 4px;
}
div#right > input, div#right > select, div#right > label, div#right> span {
    margin: 3px;
}
.CB {
    display: block;
    vertical-align: middle;
}
.CB input, .CB label {
    display: inline-block;
}
.DT {
    padding-top: 20px;
}