* {
    margin: 0;
    padding: 0;
}
body {
    margin: 25px;
    font-size: 12pt;
    font-family: Tahoma;
}
table, td, th {
    border: 1px solid black;
}
body > table {
    width: 400px;
    height: 500px;
}
td {
    width: 25%;
    height: 20%;
    padding: 5px;
}
.biggestButtxD {
    width: 380px;
    height: 80px;
    font-size: 20pt;
    font-weight: bold;
}
.midButt {
    width: 180px;
    height: 80px;
}
.smallestButt {
    width: 80px;
    height: 80px;
}
.midPlusButt {
    width: 280px;
    height: 80px;
    font-size: 20pt;
    text-align: right;
}
.extraSmallButt {
    width: 80px;
    height: 40px;
}
button {
    margin: 2px;
    color: blue;
}
button:hover {
    background-color: Aqua;
    border-radius: 5px;
}
