span.brazil {
    width: 30px;
    height: 20px;
    content:url("flags/BrasilFlag.PNG");
    vertical-align: middle;
}
span.mexico {
    width: 30px;
    height: 20px;
    content:url("flags/MexicoFlag.PNG");
    vertical-align: middle;
}
span.spain {
    width: 30px;
    height: 20px;
    content:url("flags/SpainFlag.PNG");
    vertical-align: middle;
}
span.netherlands {
    width: 30px;
    height: 20px;
    content:url("flags/NetherlandsFlag.PNG");
    vertical-align: middle;
}
span.italy {
    width: 30px;
    height: 20px;
    content:url("flags/ItalyFlag.PNG");
    vertical-align: middle;
}
span.england {
    width: 30px;
    height: 20px;
    content:url("flags/EnglandFlag.PNG");
    vertical-align: middle;
}
span.argentina {
    width: 30px;
    height: 20px;
    content:url("flags/ArgentinaFlag.PNG");
    vertical-align: middle;
}
span.bosnia {
    width: 30px;
    height: 20px;
    content:url("flags/BosniaHerzFlag.PNG");
    vertical-align: middle;
}
span.germany {
    width: 30px;
    height: 20px;
    content:url("flags/GermanyFlag.PNG");
    vertical-align: middle;
}
span.portugal {
    width: 30px;
    height: 20px;
    content:url("flags/PortugalFlag.PNG");
    vertical-align: middle;
}